#carouselExampleAutoplaying{
    width: 33vw;
    margin-left: 30%;
}
#it{
    margin-left: 3px;
    margin-bottom: 4px;
}
@media screen and (max-width: 600px) {
    footer{
        font-size: 10px;
    }
    #carouselExampleAutoplaying{
    width: 73vw; 
    margin-left: 15%;
    }
    #it{
    margin-left: 3vw;
    }
}